/* FONT FAMILIES */
$font-sans: Inter var, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !default;


/* FONT SIZES */
$font-xs: 0.75rem !default;
/* 12px */
$font-s: 1rem !default;
/* 16px */
$font-l: 1.25rem !default;
/* 20px */
$font-xl: 2.25rem !default;
/* 36px */
$font-xxl: 3rem !default;
/* 48px */


/* FONT WEIGHTS */
$font-normal: 100 !default;
$font-medium: 500 !default;
$font-bold: 700 !default;


/* COLORS */
$color-0: #ffffff !default;
$color-1: #E9E9E9 !default;
$color-2: #D0D9D4 !default;
$color-3: #AEBFBE !default;
$color-4: #798C8C !default;
$color-5: #59554C !default;
$color-6: #ec0000 !default;
$color-7: #000000 !default;


/* SHADOWS */

$shadow: .7em .7em .7em rgba(0, 0, 0, 0.2);